@media (min-width: 1024px){
    html{
        font-size: 62.5%;
    }

    .wrapper{
        padding: 0;
    }

    .section__title-1{        
        font-size: 4.8rem;    
    }
    
    
    .section__title-2{
        font-size: 3.8rem;        
    }

    .section__description{
        font-size: 2rem;        
    }

    .header__navbar{
        display: block;
    }

    .hero-vector{
        top: -8rem;
    }

    .card-size-sm{
        width: 100%;    
        width: calc(100% / 3 - 2rem);
    }

    .header__actions{
        display: block;
    }

    .header__menu-icon{
        display: none;
    }
    
}
