

@media (min-width: 728px){

    html{
        font-size: 62.5%;
    }

    .wrapper{
        padding: 0px 1.6rem;
    }
   
    .card-size-sm{
        width: 100%;    
        width: calc(100% / 2 - 2rem);
    }


    .card--row{
        flex-direction: row;                    
    }

    .brand__image {
        width: 15%;
        height: 100%;
    }

    .section__content{
        flex-direction: row;  
        text-align: left;      
    }

    .content{
        flex-basis: 50%;
    }
    .footer .header{
        flex-direction: row;          
    } 
    .footer__about{
        flex-direction: row;                
        gap: 0.8rem;
    }

    .about-term{
        flex-direction: row;        
    }

}
